<Settings>
	<Variables>
    <Variable name="targetUrl">http://intranet</Variable>
  </Variables>
  <Environments>
    <Environment name="DEV">
      <Variables>
      </Variables>
    </Environment>
    <Environment name="TEST">
      <Variables>
      </Variables>
    </Environment>
    <Environment name="PROD">
      <Variables>
      </Variables>
    </Environment>
  </Environments>
</Settings>

