<Settings>
	<Variables>
		<Variable name="sourceFolder">test</Variable>
		<Variable name="targetPath"><![CDATA[test test]]></Variable>
	</Variables>
  <Environments>
    <Environment name="DEV">
      <Variables>
        <Variable name="sourceFolder">AllFiles</Variable>
        <Variable name="targetPath">d:\solution\AllFiles</Variable>
      </Variables>
    </Environment>
    <Environment name="TEST">
      <Variables>
        <Variable name="sourceFolder">AllFiles</Variable>
        <Variable name="targetPath">d:\solution\AllFiles-TEST</Variable>
      </Variables>
    </Environment>
  </Environments>
</Settings>

